@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p text="xl">Hi there! The primary goal of the project is to implement cookie-based authentication and manage employees by performing CRUD operations (Create, Read, Update, Delete) with basic functionality like file uploads.
    <br><b>-Quazi Mahabubul Hasan</b></p>

     <div class="d-flex justify-content-center my-4">
        <img src="/images/homepage.png"  alt="Welcome Image" style="max-width: 80%; opacity: 0.9;">
    </div>
</div>
